src/main/resources/api/bmicalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://mulesoft.org/calculator"
                  xmlns="http://mulesoft.org/calculator">

    <!-- Types section defines data types -->
    <wsdl:types>
        <xs:schema targetNamespace="http://mulesoft.org/calculator"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="CalculateAdultBMIRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="weight" minOccurs="1" type="xs:double" nillable="false"/>
                        <xs:element name="height" minOccurs="1" type="xs:double" nillable="false"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CalculateAdultBMIResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bmi" type="xs:double"/>
                        <xs:element name="category" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <!-- Message elements define the structure of messages -->
    <wsdl:message name="CalculateAdultBMIInputMessage">
        <wsdl:part name="parameters" element="CalculateAdultBMIRequest"/>
    </wsdl:message>
    <wsdl:message name="CalculateAdultBMIOutputMessage">
        <wsdl:part name="parameters" element="CalculateAdultBMIResponse"/>
    </wsdl:message>

    <!-- Port Type describes operations -->
    <wsdl:portType name="AdultBMICalculatorPortType">
        <wsdl:operation name="CalculateAdultBMI">
            <wsdl:input message="CalculateAdultBMIInputMessage"/>
            <wsdl:output message="CalculateAdultBMIOutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding specifies protocol and message format -->
    <wsdl:binding name="AdultBMICalculatorSoapBinding" type="AdultBMICalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CalculateAdultBMI">
            <soap:operation soapAction="http://mulesoft.org/calculator/CalculateAdultBMI"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service describes the endpoint -->
    <wsdl:service name="BMIService">
        <wsdl:port name="CalculatorSoap" binding="AdultBMICalculatorSoapBinding">
            <soap:address location="http://localhost:8081/calculator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>